SECRET_KEY=django-insecure-cambia-esto-en-produccion-usa-una-clave-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/pda_db?retryWrites=true&w=majority
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://tu-frontend.vercel.app
